extend layout
block content
   p
    h1 THE FACULTY OF DIGITAL TECHNOLOGY
   p
    | The Faculty of Digital Technology plays a leading role on computer sciences 
    | and information technology in this region of Thailand. The faculty aims 
    | include introduction to the specifications, with the strong fundamental 
    | study of computer sciences and its application in an interdisciplinary context.
    
block sidebar
  .widget
    h1 Our highlight programs included:
    
    p
      | Computer Network  
      | Computer Science    
      | Information Technology   
      | GeoInformatics            
      
    p
      | Our computing graduates have been successful in finding employment in business,
      | industry, research and education. We welcome international cooperation.