<!-- views/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

<header>
    <% include header %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h2>FACULTY OF DIGITAL TECHNOLOGY</h2>
            <p>Our computing graduates have been successful in finding employment in business, industry, research and education. We welcome international cooperation.</p>
        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>Our highlight programs included:</h3>
            <ul>
                <li>Computer Science</li>
                    <li>Information Technology</li>
                   <li>Computer Network Technology</li> 
                   <li>Geo Informatics</li>
            </ul>
        </div>
    </div>

</div>
</main>

<footer>
    <% include footer %>
</footer>

</body>
</html>