<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon glyphicon glyphicon-cloud"></span>
            Home
        </a>

    
            <ul class="nav navbar-nav">
            <li><a href="/register">Register</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>

</div>
</nav>